.btn_group {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    margin-right: 10px;
  }
}

.error {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  color: red;
  text-align: center;
}

.sign {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}
